<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.nineworldsdeep.gauntlet">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <service android:name=".mnemosyne.playerService.MediaPlayerService"/>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->


            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.MainActivity"/>
        </activity>
        <activity
            android:name=".SimpleToDoActivity"
            android:label="@string/title_activity_simple_to_do"/>
        <activity
            android:name="com.nononsenseapps.filepicker.FilePickerActivity"
            android:label="@string/app_name"
            android:theme="@style/FilePickerTheme">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".GrowthAreasActivity"
            android:label="@string/title_activity_growth_areas"/>
        <activity
            android:name=".synergy.v1.SynergyMasterListActivity"
            android:label="@string/title_activity_synergy_master_list"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.MainActivity"/>
        </activity>
        <activity
            android:name=".synergy.v1.SynergyListActivity"
            android:label="@string/title_activity_synergy_list"
            android:parentActivityName=".synergy.v1.SynergyMasterListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".synergy.v1.SynergyMasterListActivity"/>
        </activity>
        <activity
            android:name=".synergy.v1.SynergyMasterArchiveActivity"
            android:label="@string/title_activity_synergy_master_archive"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.MainActivity"/>
        </activity>
        <activity
            android:name=".synergy.v1.SynergyMasterTemplateActivity"
            android:label="@string/title_activity_synergy_master_template"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.MainActivity"/>
        </activity>
        <activity
            android:name=".synergy.v1.SynergyTemplateActivity"
            android:label="@string/title_activity_synergy_template"
            android:parentActivityName=".synergy.v1.SynergyMasterTemplateActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".synergy.v1.SynergyMasterTemplateActivity"/>
        </activity>
        <activity
            android:name=".synergy.v1.SynergyArchiveActivity"
            android:label="@string/title_activity_synergy_archive"
            android:parentActivityName=".synergy.v1.SynergyMasterArchiveActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".synergy.v1.SynergyMasterArchiveActivity"/>
        </activity>
        <activity
            android:name=".muse.MuseMainActivity"
            android:label="@string/title_activity_muse_main"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.MainActivity"/>
        </activity>
        <activity
            android:name=".muse.clef.MuseClefActivity"
            android:label="@string/title_activity_muse_clef"
            android:parentActivityName=".muse.MuseMainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.muse.MuseMainActivity"/>
        </activity>
        <activity
            android:name=".muse.guitar.GuitarActivity"
            android:label="@string/title_activity_guitar"
            android:parentActivityName=".muse.MuseMainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.muse.MuseMainActivity"/>
        </activity>
        <activity
            android:name=".muse.keys.MuseKeyboardActivity"
            android:label="@string/title_activity_muse_keyboard"
            android:parentActivityName=".muse.MuseMainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.muse.MuseMainActivity"/>
        </activity>
        <activity android:name=".muse.legacy.LegacyClefActivity"/>
        <activity android:name=".muse.legacy.LegacyGuitarActivity"/>
        <activity android:name=".muse.legacy.LegacyKeyboardActivity"/>
        <activity
            android:name=".synergy.v2.SynergyMainActivity"
            android:label="@string/title_activity_synergy_main"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.MainActivity"/>
        </activity>
        <activity android:name=".synergy.v2.SynergyListActivity"/>
        <activity
            android:name=".bookSegments.AliasListActivity"
            android:label="@string/title_activity_alias_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.MainActivity"/>
        </activity>
        <activity
            android:name=".bookSegments.BookSegmentsActivity"
            android:label="@string/title_activity_book_segments"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.MainActivity"/>
        </activity>
        <activity
            android:name=".bookSegments.AliasInputActivity"
            android:label="@string/title_activity_alias_input"
            android:parentActivityName=".bookSegments.AliasListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.bookSegments.AliasListActivity"/>
        </activity>
        <activity
            android:name=".bookSegments.BookSegmentsInputActivity"
            android:label="@string/title_activity_book_segments_input"
            android:parentActivityName=".bookSegments.BookSegmentsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.bookSegments.BookSegmentsActivity"/>
        </activity>
        <activity
            android:name=".synergy.v2.SynergyTemplatesActivity"
            android:label="@string/title_activity_synergy_templates"
            android:parentActivityName=".synergy.v2.SynergyMainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.synergy.v2.SynergyMainActivity"/>
        </activity>
        <activity
            android:name=".synergy.v2.SynergyTemplateActivity"
            android:label="@string/title_activity_synergy_template"
            android:parentActivityName=".synergy.v2.SynergyTemplatesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.synergy.v2.SynergyTemplatesActivity"/>
        </activity>
        <activity
            android:name=".synergy.v2.SynergyArchivesActivity"
            android:label="@string/title_activity_synergy_archives"
            android:parentActivityName=".synergy.v2.SynergyMainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.synergy.v2.SynergyMainActivity"/>
        </activity>
        <activity
            android:name=".synergy.v2.SynergyArchiveActivity"
            android:label="@string/title_activity_synergy_archive"
            android:parentActivityName=".synergy.v2.SynergyArchivesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.synergy.v2.SynergyArchivesActivity"/>
        </activity>
        <activity
            android:name=".synergy.v5.SynergyV5ArchiveActivity"
            android:label="@string/title_activity_synergy_v5_archive"
            android:parentActivityName=".synergy.v5.SynergyV5ShelvedActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.synergy.v2.SynergyArchivesActivity"/>
        </activity>
        <activity
            android:name=".mnemosyne.ImageDisplayActivity"
            android:label="@string/title_activity_image_display"
            android:parentActivityName=".mnemosyne.ImageListV2Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.mnemosyne.ImageListV2Activity"/>
        </activity>
        <!-- <activity -->
        <!-- android:name=".mnemosyne.AudioListActivity" -->
        <!-- android:label="@string/title_activity_audio_list" -->
        <!-- android:parentActivityName=".MainActivity" -->
        <!-- android:theme="@style/AppTheme.NoActionBar"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.PARENT_ACTIVITY" -->
        <!-- android:value="com.nineworldsdeep.gauntlet.MainActivity"/> -->
        <!-- </activity> -->
        <activity
            android:name=".mnemosyne.v5.AudioDisplayV5Activity"
            android:label="@string/title_activity_audio_display_v5"
            android:parentActivityName=".mnemosyne.v5.AudioListV5Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.mnemosyne.v5.AudioListV5Activity"/>
        </activity>
        <activity
            android:name=".mnemosyne.v5.ImageDisplayV5Activity"
            android:label="@string/title_activity_image_display_v5"
            android:parentActivityName=".mnemosyne.v5.ImageListV5Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.mnemosyne.v5.ImageListV5Activity"/>
        </activity>
        <activity
            android:name=".mnemosyne.AudioDisplayActivity"
            android:label="@string/title_activity_audio_display"
            android:parentActivityName=".mnemosyne.AudioListV2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.mnemosyne.AudioListV2Activity"/>
        </activity>
        <activity
            android:name=".muse.SessionListActivity"
            android:label="@string/title_activity_session_list"
            android:parentActivityName=".muse.MuseMainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.muse.MuseMainActivity"/>
        </activity>
        <activity
            android:name=".muse.SessionDisplayActivity"
            android:label="@string/title_activity_session_display"
            android:parentActivityName=".muse.SessionListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.muse.SessionListActivity"/>
        </activity>
        <activity
            android:name=".TestModeActivity"
            android:label="@string/title_activity_test_mode"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.MainActivity"/>
        </activity>
        <activity
            android:name=".synergy.v2.SplitItemActivity"
            android:label="@string/title_activity_split_item"
            android:parentActivityName=".synergy.v2.SynergyListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.synergy.v2.SynergyListActivity"/>
        </activity>
        <activity
            android:name=".synergy.v3.SynergyV3MainActivity"
            android:label="SynergyV3MainActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.MainActivity"/>
        </activity>
        <activity
            android:name=".synergy.v5.SynergyV5MainActivity"
            android:label="SynergyV5MainActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.MainActivity"/>
        </activity>
        <activity
            android:name=".synergy.v3.SynergyListActivity"
            android:label="SynergyListActivity"
            android:parentActivityName=".synergy.v3.SynergyV3MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.synergy.v3.SynergyV3MainActivity"/>
        </activity>
        <activity
            android:name=".synergy.v5.SynergyV5ListActivity"
            android:label="SynergyV5ListActivity"
            android:parentActivityName=".synergy.v5.SynergyV5MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.synergy.v5.SynergyV5MainActivity"/>
        </activity>
        <activity
            android:name=".synergy.v3.SynergyArchivesActivity"
            android:label="SynergyArchivesActivity"
            android:parentActivityName=".synergy.v3.SynergyV3MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.synergy.v3.SynergyV3MainActivity"/>
        </activity>
        <activity
            android:name=".synergy.v5.SynergyV5ShelvedActivity"
            android:label="SynergyV5ArchivesActivity"
            android:parentActivityName=".synergy.v5.SynergyV5MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.synergy.v5.SynergyV5MainActivity"/>
        </activity>
        <activity
            android:name=".synergy.v3.SynergyTemplatesActivity"
            android:label="SynergyTemplatesActivity"
            android:parentActivityName=".synergy.v3.SynergyV3MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.synergy.v3.SynergyV3MainActivity"/>
        </activity>
        <activity
            android:name=".synergy.v5.SynergyV5TemplatesActivity"
            android:label="SynergyV5TemplatesActivity"
            android:parentActivityName=".synergy.v5.SynergyV5MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.synergy.v5.SynergyV5MainActivity"/>
        </activity>
        <activity
            android:name=".synergy.v3.SynergyTemplateActivity"
            android:label="@string/title_activity_synergy_template"
            android:parentActivityName=".synergy.v3.SynergyTemplatesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.synergy.v3.SynergyTemplatesActivity"/>
        </activity>
        <activity android:name=".synergy.v3.SynergyEditItemActivity"/>
        <activity
            android:name=".tapestry.v1.TapestryNamedNodeActivity"
            android:label="@string/title_activity_tapestry_main"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.MainActivity"/>
        </activity>
        <activity
            android:name=".mnemosyne.ImageListV2Activity"
            android:label="@string/title_activity_image_list_v2"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.MainActivity"/>
        </activity>
        <activity
            android:name=".tapestry.v1.MetaBrowserActivity"
            android:label="@string/title_activity_meta_browser"
            android:parentActivityName=".tapestry.v1.TapestryNamedNodeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".tapestry.v1.TapestryNamedNodeActivity"/>
        </activity>
        <!-- <activity -->
        <!-- android:name=".mnemosyne.v5.ImageListV5Activity" -->
        <!-- android:label="@string/title_activity_image_list_v5" -->
        <!-- android:parentActivityName=".MainActivity" -->
        <!-- android:theme="@style/AppTheme.NoActionBar"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.PARENT_ACTIVITY" -->
        <!-- android:value="com.nineworldsdeep.gauntlet.MainActivity"/> -->
        <!-- </activity> -->
        <!-- <activity -->
        <!-- android:name=".mnemosyne.v5.AudioListV50Activity" -->
        <!-- android:label="@string/title_activity_audio_list_v5" -->
        <!-- android:parentActivityName=".MainActivity" -->
        <!-- android:theme="@style/AppTheme.NoActionBar"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.PARENT_ACTIVITY" -->
        <!-- android:value="com.nineworldsdeep.gauntlet.MainActivity"/> -->
        <!-- </activity> -->
        <activity
            android:name=".mnemosyne.AudioListV2Activity"
            android:label="@string/title_activity_audio_list_v2"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.MainActivity"/>
        </activity>
        <activity
            android:name=".mnemosyne.PdfListActivity"
            android:label="@string/title_activity_pdf_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.MainActivity"/>
        </activity>
        <!-- <activity android:name=".core.ListBaseActivity"> -->
        <!-- </activity> -->
        <!-- <activity android:name=".core.DbBaseActivity"> -->
        <!-- </activity> -->
        <activity
            android:name=".core.HomeListActivity"
            android:label="@string/title_activity_home_list"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".tapestry.v2.fileSubset.FileNodeDisplayActivity">
        </activity>
        <activity
            android:name=".tapestry.v2.ClusterComparisonActivity"
            android:label="@string/title_activity_node_comparison"
            android:parentActivityName=".core.HomeListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.core.HomeListActivity"/>
        </activity>
        <activity
            android:name=".mnemosyne.QuickTagActivity"
            android:label="@string/title_activity_quick_tag"
            android:parentActivityName=".core.HomeListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.core.HomeListActivity"/>
        </activity>
        <activity
            android:name=".mnemosyne.TransferActivity"
            android:label="@string/title_activity_transfer"
            android:parentActivityName=".core.HomeListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.core.HomeListActivity"/>
        </activity>
        <activity
            android:name=".mnemosyne.ImageGridActivity"
            android:label="@string/title_activity_image_grid"
            android:parentActivityName=".mnemosyne.ImageListV2Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.mnemosyne.ImageListV2Activity"/>
        </activity>
        <activity
            android:name=".mnemosyne.v5.ImageGridV5Activity"
            android:label="@string/title_activity_image_grid"
            android:parentActivityName=".mnemosyne.v5.ImageListV5Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.mnemosyne.v5.ImageListV5Activity"/>
        </activity>
        <activity
            android:name=".mnemosyne.v5.demo.ImageBrowserActivity"
            android:label="ImageBrowserActivity"
            android:parentActivityName=".core.HomeListActivity"
            android:theme="@style/MaterialDesignActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.core.HomeListActivity"/>
        </activity>
        <activity
            android:name=".archivist.v5.ArchivistActivity"
            android:label="ArchivistActivity"
            android:parentActivityName=".core.HomeListActivity"
            android:theme="@style/MaterialDesignActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.core.HomeListActivity"/>
        </activity>
        <activity
            android:name=".mnemosyne.v5.MnemosyneV5ScanActivity"
            android:label="@string/title_activity_mnemosyne_v5_scan"
            android:parentActivityName=".core.HomeListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.core.HomeListActivity"/>
        </activity>
        <!-- <activity android:name=".mnemosyne.v5.AudioListV51Activity"> -->
        <!-- </activity> -->
        <activity
            android:name=".mnemosyne.v5.AudioListV5Activity"
            android:label="@string/title_activity_audio_list_v52"
            android:parentActivityName=".core.HomeListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.core.HomeListActivity"/>
        </activity>
        <activity
            android:name=".mnemosyne.v5.ImageListV5Activity"
            android:label="@string/title_activity_image_list_v52"
            android:parentActivityName=".core.HomeListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.core.HomeListActivity"/>
        </activity>
        <activity
            android:name=".mnemosyne.playerService.MediaPlayerServiceActivity"
            android:label="@string/title_activity_media_player_service"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".hive.HiveRootsActivity"
            android:label="@string/title_activity_hive_main"
            android:parentActivityName=".core.HomeListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.core.HomeListActivity"/>
        </activity>
        <activity
            android:name=".hive.HiveLobesActivity"
            android:label="@string/title_activity_hive_root"
            android:parentActivityName=".hive.HiveRootsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.hive.HiveRootsActivity"/>
        </activity>
        <activity
            android:name=".hive.HiveSporesActivity"
            android:label="HiveSporesActivity"
            android:parentActivityName=".hive.HiveLobesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.hive.HiveLobesActivity"/>
        </activity>
        <activity
            android:name=".synergy.SynergyDrawerActivity"
            android:label="@string/title_activity_synergy_drawer"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".hive.experimental.HiveRootListActivity"
            android:label="@string/title_hiveroot_list"
            android:parentActivityName=".core.HomeListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.core.HomeListActivity"/>
        </activity>
        <activity
            android:name=".hive.experimental.HiveRootDetailActivity"
            android:label="@string/title_hiveroot_detail"
            android:parentActivityName=".hive.experimental.HiveRootListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.hive.experimental.HiveRootListActivity"/>
        </activity>
        <activity
            android:name=".archivist.v5.ArchivistAddSourceTypeActivity"
            android:label="@string/title_activity_archivist_add_source_type"
            android:parentActivityName=".archivist.v5.ArchivistActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.archivist.v5.ArchivistActivity"/>
        </activity>
        <activity
            android:name=".archivist.v5.ArchivistAddSourceActivity"
            android:label="@string/title_activity_archivist_add_source"
            android:parentActivityName=".archivist.v5.ArchivistActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.archivist.v5.ArchivistActivity"/>
        </activity>
        <activity
            android:name=".archivist.v5.ArchivistAddSourceExcerptActivity"
            android:label="@string/title_activity_archivist_add_source_excerpt"
            android:parentActivityName=".archivist.v5.ArchivistActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.archivist.v5.ArchivistActivity"/>
        </activity>
    </application>

</manifest>