<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.nineworldsdeep.gauntlet">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->


            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.MainActivity"/>
        </activity>
        <activity
            android:name=".SimpleToDoActivity"
            android:label="@string/title_activity_simple_to_do"/>
        <activity
            android:name=".GrowthAreasActivity"
            android:label="@string/title_activity_growth_areas"/>
        <activity
            android:name=".synergy.v1.SynergyMasterListActivity"
            android:label="@string/title_activity_synergy_master_list"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.MainActivity"/>
        </activity>
        <activity
            android:name=".synergy.v1.SynergyListActivity"
            android:label="@string/title_activity_synergy_list"
            android:parentActivityName=".synergy.v1.SynergyMasterListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".synergy.v1.SynergyMasterListActivity"/>
        </activity>
        <activity
            android:name=".synergy.v1.SynergyMasterArchiveActivity"
            android:label="@string/title_activity_synergy_master_archive"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.MainActivity"/>
        </activity>
        <activity
            android:name=".synergy.v1.SynergyMasterTemplateActivity"
            android:label="@string/title_activity_synergy_master_template"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.MainActivity"/>
        </activity>
        <activity
            android:name=".synergy.v1.SynergyTemplateActivity"
            android:label="@string/title_activity_synergy_template"
            android:parentActivityName=".synergy.v1.SynergyMasterTemplateActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".synergy.v1.SynergyMasterTemplateActivity"/>
        </activity>
        <activity
            android:name=".synergy.v1.SynergyArchiveActivity"
            android:label="@string/title_activity_synergy_archive"
            android:parentActivityName=".synergy.v1.SynergyMasterArchiveActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".synergy.v1.SynergyMasterArchiveActivity"/>
        </activity>
        <activity
            android:name=".muse.MuseMainActivity"
            android:label="@string/title_activity_muse_main"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.MainActivity"/>
        </activity>
        <activity
            android:name=".muse.clef.MuseClefActivity"
            android:label="@string/title_activity_muse_clef"
            android:parentActivityName=".muse.MuseMainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.muse.MuseMainActivity"/>
        </activity>
        <activity
            android:name=".muse.guitar.GuitarActivity"
            android:label="@string/title_activity_guitar"
            android:parentActivityName=".muse.MuseMainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.muse.MuseMainActivity"/>
        </activity>
        <activity
            android:name=".muse.keys.MuseKeyboardActivity"
            android:label="@string/title_activity_muse_keyboard"
            android:parentActivityName=".muse.MuseMainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.muse.MuseMainActivity"/>
        </activity>
        <activity android:name=".muse.legacy.LegacyClefActivity"/>
        <activity android:name=".muse.legacy.LegacyGuitarActivity"/>
        <activity android:name=".muse.legacy.LegacyKeyboardActivity"/>
        <activity
            android:name=".synergy.v2.SynergyMainActivity"
            android:label="@string/title_activity_synergy_main"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.MainActivity"/>
        </activity>
        <activity android:name=".synergy.v2.SynergyListActivity"/>
        <activity
            android:name=".bookSegments.AliasListActivity"
            android:label="@string/title_activity_alias_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.MainActivity"/>
        </activity>
        <activity
            android:name=".bookSegments.BookSegmentsActivity"
            android:label="@string/title_activity_book_segments"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.MainActivity"/>
        </activity>
        <activity
            android:name=".bookSegments.AliasInputActivity"
            android:label="@string/title_activity_alias_input"
            android:parentActivityName=".bookSegments.AliasListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.bookSegments.AliasListActivity"/>
        </activity>
        <activity
            android:name=".bookSegments.BookSegmentsInputActivity"
            android:label="@string/title_activity_book_segments_input"
            android:parentActivityName=".bookSegments.BookSegmentsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.bookSegments.BookSegmentsActivity"/>
        </activity>
        <activity
            android:name=".synergy.v2.SynergyTemplatesActivity"
            android:label="@string/title_activity_synergy_templates"
            android:parentActivityName=".synergy.v2.SynergyMainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.synergy.v2.SynergyMainActivity"/>
        </activity>
        <activity
            android:name=".synergy.v2.SynergyTemplateActivity"
            android:label="@string/title_activity_synergy_template"
            android:parentActivityName=".synergy.v2.SynergyTemplatesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.synergy.v2.SynergyTemplatesActivity"/>
        </activity>
        <activity
            android:name=".synergy.v2.SynergyArchivesActivity"
            android:label="@string/title_activity_synergy_archives"
            android:parentActivityName=".synergy.v2.SynergyMainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.synergy.v2.SynergyMainActivity"/>
        </activity>
        <activity
            android:name=".synergy.v2.SynergyArchiveActivity"
            android:label="@string/title_activity_synergy_archive"
            android:parentActivityName=".synergy.v2.SynergyArchivesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.synergy.v2.SynergyArchivesActivity"/>
        </activity>
         <activity
         android:name=".mnemosyne.ImageDisplayActivity"
         android:label="@string/title_activity_image_display"
         android:parentActivityName=".mnemosyne.ImageListV2Activity"
         android:theme="@style/AppTheme.NoActionBar">
         <meta-data
         android:name="android.support.PARENT_ACTIVITY"
         android:value="com.nineworldsdeep.gauntlet.mnemosyne.ImageListV2Activity"/>
         </activity>
        <!-- <activity -->
        <!-- android:name=".mnemosyne.AudioListActivity" -->
        <!-- android:label="@string/title_activity_audio_list" -->
        <!-- android:parentActivityName=".MainActivity" -->
        <!-- android:theme="@style/AppTheme.NoActionBar"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.PARENT_ACTIVITY" -->
        <!-- android:value="com.nineworldsdeep.gauntlet.MainActivity"/> -->
        <!-- </activity> -->
        <activity
            android:name=".mnemosyne.AudioDisplayActivity"
            android:label="@string/title_activity_audio_display"
            android:parentActivityName=".mnemosyne.AudioListV2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.mnemosyne.AudioListV2Activity"/>
        </activity>
        <activity
            android:name=".muse.SessionListActivity"
            android:label="@string/title_activity_session_list"
            android:parentActivityName=".muse.MuseMainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.muse.MuseMainActivity"/>
        </activity>
        <activity
            android:name=".muse.SessionDisplayActivity"
            android:label="@string/title_activity_session_display"
            android:parentActivityName=".muse.SessionListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.muse.SessionListActivity"/>
        </activity>
        <activity
            android:name=".TestModeActivity"
            android:label="@string/title_activity_test_mode"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.MainActivity"/>
        </activity>
        <activity
            android:name=".synergy.v2.SplitItemActivity"
            android:label="@string/title_activity_split_item"
            android:parentActivityName=".synergy.v2.SynergyListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.synergy.v2.SynergyListActivity"/>
        </activity>
        <activity
            android:name=".synergy.v3.SynergyV3MainActivity"
            android:label="SynergyV3MainActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.MainActivity"/>
        </activity>
        <activity
            android:name=".synergy.v3.SynergyListActivity"
            android:label="SynergyListActivity"
            android:parentActivityName=".synergy.v3.SynergyV3MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.synergy.v3.SynergyV3MainActivity"/>
        </activity>
        <activity
            android:name=".synergy.v3.SynergyArchivesActivity"
            android:label="SynergyArchivesActivity"
            android:parentActivityName=".synergy.v3.SynergyV3MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.synergy.v3.SynergyV3MainActivity"/>
        </activity>
        <activity
            android:name=".synergy.v3.SynergyTemplatesActivity"
            android:label="SynergyTemplatesActivity"
            android:parentActivityName=".synergy.v3.SynergyV3MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.synergy.v3.SynergyV3MainActivity"/>
        </activity>
        <activity
            android:name=".synergy.v3.SynergyTemplateActivity"
            android:label="@string/title_activity_synergy_template"
            android:parentActivityName=".synergy.v3.SynergyTemplatesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.synergy.v3.SynergyTemplatesActivity"/>
        </activity>
        <activity android:name=".synergy.v3.SynergyEditItemActivity"/>
        <activity
            android:name=".tapestry.v1.TapestryNodeActivity"
            android:label="@string/title_activity_tapestry_main"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.MainActivity"/>
        </activity>
        <activity
            android:name=".mnemosyne.ImageListV2Activity"
            android:label="@string/title_activity_image_list_v2"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.MainActivity"/>
        </activity>
        <activity
            android:name=".tapestry.v1.MetaBrowserActivity"
            android:label="@string/title_activity_meta_browser"
            android:parentActivityName=".tapestry.v1.TapestryNodeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".tapestry.v1.TapestryNodeActivity"/>
        </activity>
        <activity
            android:name=".mnemosyne.AudioListV2Activity"
            android:label="@string/title_activity_audio_list_v2"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.MainActivity"/>
        </activity>
        <activity
            android:name=".mnemosyne.PdfListActivity"
            android:label="@string/title_activity_pdf_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nineworldsdeep.gauntlet.MainActivity"/>
        </activity>
        <!-- <activity android:name=".core.ListBaseActivity"> -->
        <!-- </activity> -->
        <activity android:name=".core.DbBaseActivity">
        </activity>
        <activity
            android:name=".core.HomeListActivity"
            android:label="@string/title_activity_home_list"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".tapestry.v2.fileSubset.FileNodeDisplayActivity">
        </activity>
    </application>

</manifest>